@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box
}

html, body{
  color:white;
  font-family: 'Nunito', sans-serif;
}

a{
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  color:var(--primary-pink)
}

.linkedin{
  display: block;
  text-decoration: none;
  font-size: 1vw;
}

.linkedin span{
  line-height:32px
}

img{
  vertical-align: bottom;
}

dd{
  text-indent:1em;
}

dt{
  margin-top:3%;
}

:root{
  --text-black: rgb(44, 35, 35);
  --primary-color: rgb(231, 221, 209);
  --primary-orange: rgb(243, 190, 93);
  --primary-pink: #ee5b8e;
}

/* Experience */

.experience{
  position:fixed;
  width:100vw;
  height:100vh;
}

.experience-canvas{
  width:100%;
  height:100%;
}

/* Page Itself*/

.page{
  z-index:99999;
  width:100%;
  height:100%;
  overflow:hidden;
}

.page-wrapper{
  position:relative;
}

/*Section formatting*/
.section-margin{
  height:300px;
  width:100%;
}

.section{
  width:50%;
  padding:100px 4%;
  margin:0;
  background-color: var(--primary-color);
  color: var(--text-black);
}

.left{
  margin-right:auto;
}

.right{
  margin-left:auto;
}

.section-intro-wrapper{
  position:relative;
  padding:5% 5%;
  border-bottom:2px solid var(--primary-pink);
  padding-bottom:5px;
}

.section-detail-wrapper{
  position:relative;
  padding:5% 5%;
}

.section-detail{
  position:relative;
  padding-bottom:5%;
}

.section-heading{
  position:relative;
  font-size:0.75vw;
  font-weight:500;
  line-height:1.8;
}

.section-text{
  line-height:2;
  margin-top:18px;
  font-size:0.75vw;
}


/*hero section*/

.hero{
  width:100vw;
  height:100vh;
}

.hero-wrapper{
  position:relative;
  height:100%;
  width:calc(100% - 160px);
  margin:0 auto; 
  max-width:2000px;
}

.hero-main{
  position:absolute;
  bottom:168px;
  top:calc(25% - 160px);
  left:0;
}

.hero-second{
  position:absolute;
  top:calc(50% - 120px);
  right: 0;
}

.hero-main-title{
  font-size:2.667vw;
}

.hero-main-description{
  font-size:1.333vw;
}

.hero-main-sub-description{
  font-size:1vw;
}

.hero-main-sub{
  margin-top: 5%;
}

.hero-second-subheading{
  font-size:1.333vw;
}

.hero-second-sub-subheading{
  text-align: left;
  font-size:1vw;
}

.hero-second-sub{
  margin-top: 5%;
  margin-left: auto; 
  margin-right: 0;
  width: 75%;
}

.section-title{
  position:relative;
  color: var(--text-black);
}

.section-title-text{
  position:relative;
  font-size:3.333vw;
  font-weight:500;
  transform-origin: left;
  text-transform: uppercase;
}

.section-detail-title-text{
  position:relative;
  font-size:1.667vw;
  font-weight:500;
  transform-origin: left;
  text-transform: uppercase;
}

.section-detail-title-sub-text{
  margin-top: 5%;
  font-size:1vw;
  font-weight:500;
  transform-origin: left;
  text-transform: uppercase;
}

.section-number{
  position:relative;
  bottom:15px;
  font-size:3.333vw;
  font-weight:500;
  color: var(--text-black);
}

/*Dropdown menu*/

.dropbtn {
  background-color: var(--primary-color);
  color: var(--text-black);
  padding: 16px;
  font-size: 16px;
  border: 2px solid var(--primary-orange);
  cursor: pointer;
  width:110px;
  font-family: 'Nunito', sans-serif;
}

.dropdown {
  position:fixed;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content button{
  color: black;
  padding: 12px 16px;
  width:100px;
  display: block;
  border: none;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.dropdown-content button:hover {background-color: var(--primary-orange)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--primary-orange);
}