@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box
}

html, body{
  color:white;
  font-family: 'Nunito', sans-serif;
}

a{
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  color:var(--primary-pink)
}

.linkedin{
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.linkedin span{
  line-height:32px
}

img{
  vertical-align: bottom;
}

dd{
  text-indent:1em;
}

dt{
  margin-top:3%;
}

:root{
  --text-black: rgb(44, 35, 35);
  --primary-color: rgb(231, 221, 209);
  --primary-pink: #ee5b8e;
}

/* Experience */

.experience{
  position:fixed;
  width:100vw;
  height:100vh;
}

.experience-canvas{
  width:100%;
  height:100%;
}

/* Page Itself*/

.page{
  z-index:99999;
  width:100%;
  height:100%;
  overflow:hidden;
}

.page-wrapper{
  position:relative;
}

/*Section formatting*/
.section-margin{
  height:500px;
  width:100%;
}

.section{
  width:50%;
  padding:100px 4%;
  margin:0;
  background-color: var(--primary-color);
  color: var(--text-black);
}

.left{
  margin-right:auto;
}

.right{
  margin-left:auto;
}

.section-intro-wrapper{
  position:relative;
  padding:5% 5%;
  border-bottom:2px solid var(--primary-pink);
  padding-bottom:5px;
}

.section-detail-wrapper{
  position:relative;
  padding:5% 5%;
}

.section-detail{
  position:relative;
  padding-bottom:5%;
}

.section-heading{
  position:relative;
  font-size:18px;
  font-weight:500;
  line-height:1.8;
}

.section-text{
  line-height:2;
  margin-top:18px;
  font-size:16px;
}


/*hero section*/

.hero{
  width:100vw;
  height:100vh;
}

.hero-wrapper{
  position:relative;
  height:100%;
  width:calc(100% - 160px);
  margin:0 auto; 
  max-width:2000px;
}

.hero-main{
  position:absolute;
  bottom:168px;
  top:calc(25% - 160px);
  left:0;
}

.hero-second{
  position:absolute;
  top:calc(50% - 120px);
  right: 0;
}

.hero-main-title{
  font-size:64px;
}

.hero-main-description{
  font-size:32px;
}

.hero-main-sub{
  margin-top: 5%;
}

.hero-second-subheading{
  font-size:24px;
}

.hero-second-sub{
  margin-top: 5%;
  margin-left: auto; 
  margin-right: 0;
  width: 75%;
}

.section-title{
  position:relative;
  color: var(--text-black);
}

.section-title-text{
  position:relative;
  font-size:54px;
  font-weight:500;
  transform-origin: left;
  text-transform: uppercase;
}

.section-detail-title-text{
  position:relative;
  font-size:38px;
  font-weight:500;
  transform-origin: left;
  text-transform: uppercase;
}

.section-detail-title-sub-text{
  margin-top: 5%;
  font-size:20px;
  font-weight:500;
  transform-origin: left;
  text-transform: uppercase;
}

.section-detail-anchor-link{
  font-size:20px;
  font-weight:500;
  transform-origin: left;
}

.time-on-job{
  font-size: 16px;
}

.section-number{
  position:relative;
  bottom:15px;
  font-size:64px;
  font-weight:500;
  color: var(--text-black);
}

#age{
  font-size: 32px;
}

/*Toogle button*/

.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 99999999999;
}

.fr-wrapper, .en-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-button{
  cursor:pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
}

.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}

.github-readme-stats{
  display:block;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

@media (max-width: 968px){
  .section{
    width: 100%;
  }
  .hero-second{
    top: calc(90% - 120px);
  }
  .hero-main{
    top:calc(25% - 30px);
  }
  .hero-wrapper{
    width: calc(100% - 30px);
  }
}

@media (max-width: 500px){
  .section-title-text{
    font-size: 38px;
  }
  .hero-second{
    top: calc(90% - 60px);
  }
}

@media (min-width: 1500px) {
  .github-readme-stats{
    display: flex;
  }
}

/*pre loader*/

.preloader{
  background-color: black;
  width: 100%;
  height: 100vh;
  position:fixed;
  opacity: 1;
  z-index:9999999999999999999;
}

.preloader-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--primary-pink);
  animation: load 1s ease-in-out infinite;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }
  20%{
    transform: translateY(-12px);
  }
  40%{
    transform: translateY(0);
  }
}

.circle:nth-child(2){
  animation-delay: 0.1s;
}


.circle:nth-child(3){
  animation-delay: 0.2s;
}

.hidden{
  display:none;
}